.mainvacansies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.name h1{
    font-size: 58px;
    color: burlywood;
    background-color: rgb(40, 35, 35);
    padding: 9px;
    border-radius: 20px;
}
.formbox{
    font-size: 17px;
    color: rgb(0, 3, 9);
    background-color: rgba(62, 66, 69, 0.405);
    padding: 8px;
    border-radius: 10px;
}
.jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(235, 235, 109);
}
.textpart{
    background-color: rgb(155, 233, 233);
    border-radius: 6px;
    margin-bottom: 15px;
    color: rgb(21, 37, 37);
    width: 800px;
    font-size: 19px;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
}
.contacts input{
    width: 170px;
    padding: 4px;
    font-size: 14px;
}
#jobselect option{
    font-size: 14px;
}

#jobselect{
    font-size: 15px;
    margin-top: 9px;
}

.resumebox{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 7px;
    color: rgb(243, 243, 135);
}

.buttonsendinfo{
    font-size: 16px;
    margin-top: 17px;
    padding: 5px;
    background-color: rgb(73, 51, 29);
    color: rgb(243, 243, 135);
    border-radius: 10px;
}