<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dishdetail.css'%}" />
</head>
<body class="boxbg">
    <header class="header">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/restaurant-logo-design-template-80b1da7e7f6651ca3c774a5fec4089bb_screen.jpg?ts=1625576767" alt="ресторона">
        <h1>Naturelle</h1>
        <button type="button">reserve</button>
        </header>

        <nav class="navmenu">
            <div class="itemenu">
              <a href="/restaurant/home">home</a>
            </div>
    
            <div class="itemenu">
              <a href="/restaurant/reviews">rewies</a>
            </div>
    
            <div class="itemenu">
              <a href="/restaurant/dishes">new dishes</a>
            </div>
    
            <div class="itemenu">
              <a href="/restaurant/home/#footercontact">contact info</a>
            </div>
          </nav>

            <div class="detailbox">
                <div class="imgpart">
                    <img src="{{dish.image.url}}" alt="{{dish.name}}">
                </div>

                <div class="textpart">
                    <h1>{{dish.name}}</h1>
                    <p class="aboutext">{{dish.description}}</p>
                        <p class="price">
                            {{dish.price}} UAH
                        </p>

                </div>
            </div>


           
            <div class="footer">

                <div class="topfooter">
                
                  <div class="top"><a href="#">Main</a></div>
                
                  <div class="top"><a href="#">about</a></div>
                
                  <div class="top"><a href="#">Menu</a></div>
                
                  <div class="top"><a href="#">delivery</a></div>
                
                </div>
                
                <div class="bottomfooter">
                
                  <div class="top"><a href="#">place</a></div>
                
                  <div class="top"><a href="#">contacts</a></div>
                
                  <div class="top"><a href="#">Mn-Sun 21:00</a></div>
                
                  <div class="top"><a href="#">loremg</a></div>
                
                </div>
                
                </div>
</body>
</html>