<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
    <style>
      .topdishes {
        flex-direction: column;
        padding: 7px;
      }

      .boxabout {
        margin-left: 50px;
        margin-top: 40px;
      }

      h2.toplabel {
        padding-top: 8px;
      }

      .topbox {
        gap: 30px;
      }
    </style>
  </head>
  <body>
    <div class="boxbg">
      <header class="header">
        <img
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/restaurant-logo-design-template-80b1da7e7f6651ca3c774a5fec4089bb_screen.jpg?ts=1625576767"
          alt="ресторона"
        />
        <h1>Naturelle</h1>
        <button type="button">reserve</button>
      </header>

      <nav class="navmenu">
        <div class="itemenu">
          <a href="/restaurant/home">home</a>
        </div>

        <div class="itemenu">
          <a href="/restaurant/reviews">rewies</a>
        </div>

        <div class="itemenu">
          <a href="/restaurant/dishes">new dishes</a>
        </div>

        <div class="itemenu">
          <a href="/restaurant/home/#footercontact">contact info</a>
        </div>
      </nav>
      <section class="boxabout">
        <p class="about">
          Ресторан предлагает изысканные блюда авторской кухни, созданные из
          свежих местных ингредиентов. Уютная атмосфера и внимательное
          обслуживание создают идеальные условия для приятного отдыха и деловых
          встреч
        </p>
      </section>

      <section class="topdishes">
        <h2 class="toplabel">популярные блюда</h2>
        <div class="topbox">
          <div class="topdish one">
            <img
              src="{% static 'images/curry-7249247_1280.jpg' %}"
              alt="карри"
            />

            <h3 class="toptext">карри</h3>
          </div>

          <div class="topdish two">
            <img src="{% static 'images/food-715542_1280.jpg' %}" alt="лапша" />

            <h3 class="toptext">лапша с овощами</h3>
          </div>

          <div class="topdish three">
            <img
              src="{% static 'images/green-curry-6386360_1280.jpg' %}"
              alt=""
            />

            <h3 class="toptext">рассольник</h3>
          </div>
        </div>
      </section>
    </div>

    <div class="bg2">
      <section class="resturantbox">
        <div class="fotobox">
          <img
            id="img_first"
            src="{% static 'images/Restaurant-Lighting-3.jpg' %}"
            alt=""
          />
          <img
            id="img_second"
            src="{% static 'images/1680079573_design-pibig-info-p-interer-restorana-v-temnikh-tonakh-dizain-1.jpg' %}"
            alt=""
          />
          <img
            id="img_third"
            src="{% static 'images/barnaia-stoika-s-podsvetkoi-restorana-budda-bar.webp' %}"
            alt=""
          />
          <img
            id="img_fourth"
            src="{% static 'images/65e83847ea05dfca3002783b_676c14628ea187.19890159.jpg' %}"
            alt=""
          />
        </div>
      </section>
    </div>

    <div class="footer" id="footercontact">
      <div class="topfooter">
        <div class="top"><a href="#">Main</a></div>

        <div class="top"><a href="#">about</a></div>

        <div class="top"><a href="#">Menu</a></div>

        <div class="top"><a href="#">delivery</a></div>
      </div>

      <div class="bottomfooter">
        <div class="top"><a href="#">place</a></div>

        <div class="top"><a href="#">contacts</a></div>

        <div class="top"><a href="#">Mn-Sun 21:00</a></div>

        <div class="top"><a href="#">loremg</a></div>
      </div>
    </div>
  </body>
</html>
