<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     <link rel="stylesheet" href="main.css" />
     <link rel="stylesheet" href="vacansies.css" />
  </head>
  <body class="boxbg">

    <header class="header">
      <img
        src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/restaurant-logo-design-template-80b1da7e7f6651ca3c774a5fec4089bb_screen.jpg?ts=1625576767"
        alt="ресторона"
      />
      <h1>Naturelle</h1>
      <button type="button">reserve</button>
    </header>

    <nav class="navmenu">
      <div class="itemenu">
        <a href="#">morning menu</a>
      </div>

      <div class="itemenu">
        <a href="#">rewies</a>
      </div>

      <div class="itemenu">
        <a href="#">new dishes</a>
      </div>

      <div class="itemenu">
        <a href="/restaurant/home/#footercontact">contact info</a>
      </div>
    </nav>

    <main class="mainvacansies">
      <div class="name">
        <h1>vacansies</h1>
      </div>

      <div class="textpart">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quia
        odit m accusantium mollitia nam. olestiae est nesciunt quibusdam ipsa
        tempore, perferendis autem, officia at neque commodi quidem, a
        ealaboriosam
      </div>

      <div class="formbox">
        <form action="#">
          <div class="jobs">
            <label for="">Выберите подходящую вакансию</label>

            <select name="jobs" id="jobselect">
              <option value="cook">повар</option>
              <option value="administrator">администратор</option>
              <option value="waiter">официант</option>
            </select>
          </div>

          <div class="contacts">
            <input type="text" id="contactname" placeholder="введите имя" />
            <input
              type="text"
              id="contactsurname"
              placeholder="введите фамилию"
            />
            <input
              type="text"
              id="contactnumber"
              placeholder="введите номер телефона"
            />
            <input
              type="email"
              id="contactemail"
              placeholder="введите эл почту"
            />
          </div>

          <div class="resumebox">
            <label for="resume">прикрепите резюме</label>

            <input type="file" id="fileinput" />
          </div>

          <div class="sendinfo">
            <button class="buttonsendinfo">
              отправить
            </button>
          </div>
        </form>
      </div>
    </main>

    <div class="footer" id="footercontact">
      <div class="topfooter">
        <div class="top"><a href="#">Main</a></div>

        <div class="top"><a href="#">about</a></div>

        <div class="top"><a href="#">Menu</a></div>

        <div class="top"><a href="#">delivery</a></div>
      </div>

      <div class="bottomfooter">
        <div class="top"><a href="#">place</a></div>

        <div class="top"><a href="#">contacts</a></div>

        <div class="top"><a href="#">Mn-Sun 21:00</a></div>

        <div class="top"><a href="#">loremg</a></div>
      </div>
    </div>
  </body>
</html>
